@model MagazaModel

<h4>Mağaza</h4>
<hr />
<dl class="row">
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.Adi)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.Adi)
    </dd>
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.SanalMiDisplay)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.SanalMiDisplay)
    </dd>
    <dt class="col-2">
        @Html.DisplayNameFor(model => model.Puani)
    </dt>
    <dd class="col-10">
        @Html.DisplayFor(model => model.Puani)
    </dd>

</dl>